
CVdevelop/.vs/Project9/v15/ipch/AutoPCH/ea3ae3909d3ad4f5/PIX.ipch
*.ipch

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.